<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/main}">
<head>

  <meta charset="UTF-8">

  <title layout:fragment="title">Title</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Game/BlackJack.css"/>
  </th:block>

  <th:block layout:fragment="script"></th:block>

</head>

<div layout:fragment="main" id="main">
  <script src="/js/Game/remember.js"></script>

  <div id="gameWrap">
    <div id="gameInfo">
      <h2>게임설명!</h2>

      <div class="infoBox">
        <p>설명</p>
      </div>

    </div>

    <div id="gameBox">
      <div id="gameField">
        <div id="selectArea">
          <div class="selectBox"></div>
          <div class="selectBox"></div>
          <div class="selectBox"></div>
          <div class="selectBox"></div>
          <div class="selectBox"></div>
          <div class="selectBox"></div>
          <div class="selectBox"></div>
          <div class="selectBox"></div>
          <div class="selectBox"></div>
        </div>
      </div>
    </div>

    <div id="gameScore">
      <div id="scoreBox">
        <h2>점수</h2>
        <span id="score"></span>
      </div>

      <div>
        <button type="button" id="startButton">게임시작</button>
      </div>

    </div>

  </div>

</div>

</html>