<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/main}">
<head>

    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title layout:fragment="title">Eat And Survive</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/Game/EatAndSurvive.css"/>
    </th:block>

    <th:block layout:fragment="script"></th:block>

</head>

<div layout:fragment="main" id="main">

    <div id="titleScreen">
        <h1>Eat And Survive</h1>
        <button id="startButton">게임 시작</button>
    </div>
    <div id="gameContainer">
        <div id="timer">남은시간: 60</div>
        <div id="score">점수: 0</div>
        <table id="gameBoard"></table>
        <div id="gameOverScreen">
            <h1>게임 오버</h1>
            <button id="restartButton">재시작</button>
            <button id="titleButton">타이틀로 돌아가기</button>
        </div>
    </div>

</div>

</html>

<script src="/js/Game/EatAndSurvive.js"></script>