<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/main}">
<head>

  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <title layout:fragment="title">Title</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Game/number.css">
  </th:block>

  <th:block layout:fragment="script">
  </th:block>

</head>

<div layout:fragment="main" id="main">
  <script src="/js/Game/Number.js"></script>

  <div id="gameWrap">
    <div id="gameInfo">
      <h2>게임설명!</h2>

      <div class="infoBox">
        <p>1. 4자리 숫자를 맞춰야 합니다</p>
        <p>2. 중복되는 숫자는 없습니다</p>
        <p>3. 입력한 숫자와 자리가 일치하면 파란색!</p>
        <p>4. 입력한 숫자가 다른 자리에 있으면 초록색!</p>
        <p>5. 입력한 숫자가 없으면 빨간색!</p>
        <p>6. 파란색은 500점, 초록색은 300점</p>
        <p>7. 정답을 맞추면 추가점수</p>
        <p>8. 첫번째에 정답을 맞추면 만점!</p>
        <p>9. 이후엔 2000점씩 감소</p>
        <h2>기회는 총 6번</h2>
      </div>

    </div>

    <div id="gameBox">
      <div id="gameField">
        <div class="inputBox">
          <input type="text" maxlength="1" name="num" class="num" required>
          <input type="text" maxlength="1" name="num" class="num" required>
          <input type="text" maxlength="1" name="num" class="num" required>
          <input type="text" maxlength="1" name="num" class="num" required>
          <button type="button" id="answerButton">정답확인</button>
        </div>
        <div class="result"></div>
      </div>
      <div id="startBox">
        <button id="startBoxButton">게임시작</button>
      </div>

    </div>

    <div id="gameScore">
      <div id="scoreBox">
        <h2>점수</h2>
        <span id="score"></span>
      </div>

      <div>
        <button type="button" id="startButton">게임재시작</button>
      </div>

    </div>

  </div>

</div>

</html>
