<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/main}">
<head>

  <meta charset="UTF-8">

  <title layout:fragment="title">Title</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Game/number.css">
  </th:block>

  <th:block layout:fragment="script">
    <script src="/js/Game/number.js"></script>
  </th:block>

</head>

<div layout:fragment="main" id="main">

  <div id="gameWrap">
    <div id="gameInfo">게임설명!</div>

    <div id="gameBox">
      <div id="gameField">
        <div id="inputBox">
          <input type="text" name="num1" class="num">
          <input type="text" name="num2" class="num">
          <input type="text" name="num3" class="num">
          <input type="text" name="num4" class="num">
          <button id="answer">정답확인</button>
        </div>
      </div>
    </div>

    <div id="gameScore">
      점수

      <div>
        <button id="start">게임시작</button>
      </div>

    </div>

  </div>

</div>

</html>