<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/main}">
<head>

  <meta charset="UTF-8">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  <title layout:fragment="title">remember</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/Game/remember.css">
  </th:block>

  <th:block layout:fragment="script">
  </th:block>

</head>

<div layout:fragment="main" id="main">
  <script src="/js/Game/remember.js"></script>

  <div id="gameWrap">
    <div id="gameInfo">
      <h2>게임설명!</h2>

      <div class="infoBox">
        <p>1. 박스의 색이 순서대로 변경</p>
        <p>2. 변경 순서 기억</p>
        <p>3. 시작하면 순서에 맞게 클릭</p>
      </div>

    </div>

    <div id="gameBox">
      <div id="gameField">
        <div id="selectArea">
          <div class="selectBox background" data-index="0"></div>
          <div class="selectBox background" data-index="1"></div>
          <div class="selectBox background" data-index="2"></div>
          <div class="selectBox background" data-index="3"></div>
          <div class="selectBox background" data-index="4"></div>
          <div class="selectBox background" data-index="5"></div>
          <div class="selectBox background" data-index="6"></div>
          <div class="selectBox background" data-index="7"></div>
          <div class="selectBox background" data-index="8"></div>
        </div>
        <div id="startBox">
          <button id="startBoxButton">게임시작</button>
        </div>
      </div>
    </div>

    <div id="gameScore">
      <div id="scoreBox">
        <h2>점수</h2>
        <span id="score"></span>
      </div>

      <div>
        <button type="button" id="startButton">게임시작</button>
      </div>

    </div>

  </div>

</div>

</html>
