


<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/myMain}">
<head>

    <meta charset="UTF-8">

    <title layout:fragment="title">Title</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/MyPage/MyPage.css">
    </th:block>

    <th:block layout:fragment="script">

    </th:block>

</head>

<!--<div layout:fragment="main" id="main">-->

<!--<section id="myPage">-->

<!--    <ul class="sideBar">-->
<!--        <h1>마이페이지</h1>-->
<!--        <li class="menu member"><a href="">회원 정보</a></li>-->
<!--        <li class="menu gameRecord">-->
<!--            <a href="">게임 전적</a>-->
<!--        <ul class="gameList">-->
<!--            <li class="game"><a href="/MyPage/Point-Omok">Omok</a></li>-->
<!--            <li class="game"><a href="/MyPage/Point-BlackJack">BlackJack</a></li>-->
<!--            <li class="game"><a href="/MyPage/Point-Hit">Hit</a></li>-->
<!--            <li class="game"><a href="/MyPage/Point-Number">Number</a></li>-->
<!--        </ul>-->
<!--        </li>-->
<!--    </ul>-->
<!--</section>-->

<!--</div>-->

<!--여기에 위에 내용 지우고 회워 정보를 넣어서 초기 화면으로 -->

</html>