

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/myMain}">
<head>

    <meta charset="UTF-8">

    <title layout:fragment="title">Title</title>

    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/GameRecord/Point-Hit.css">
    </th:block>

    <th:block layout:fragment="script"></th:block>

</head>

<div layout:fragment="main" id="main">


    <h1>여기에 점수 저장할꺼야</h1>
</div>

</html>