

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/myMain}">
<head>

  <meta charset="UTF-8">

  <title layout:fragment="title">Title</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/GameRecord/Point-Number.css">
  </th:block>

  <th:block layout:fragment="script"></th:block>

</head>

<div layout:fragment="main" id="main">

  <div id="scoreWrap">
    <table id="scoreTable">
      <tr>
        <td class="score">점수</td>
        <td class="date">플레이 날짜</td>
      </th>
      <tr th:each="scoreHistory : ${history}">
        <td class="score" th:text="${scoreHistory.score}"></td>
        <td class="date" th:text="${scoreHistory.date}"></td>
      </tr>
    </table>

  </div>

</div>

</html>