*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #FFF1C1;
}

ul{ list-style: none}

#header >.title
{
    pointer-events: auto;
    color: black;
}

#header >.title:hover{

    border-bottom:4px solid #CC0000;
}


a
{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.navbar-menu > li> a:hover
{
    border: solid 3px #FFF1C1;

}


#container
{
    width: 100%;

}

#header
{
    position: sticky;
    top: 0;
    padding: 15px 0;
}

#header, .title
{

    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;

}

#nav
{
    display : flex;
    align-items : center;
    margin-top: 40px;
    border-top: solid 3px #CC0000;
    border-bottom: solid 3px #CC0000;

}

#myPage
{
    position: fixed;
    top: 20%;

}

#nav #subNav
{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 10%;
    right: 10%;
}

.signInBox:hover{
    border-bottom:3px solid #CC0000;
}

.myPage:hover{
    border-bottom:3px solid #CC0000;
}

.navbar-menu
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}
