*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#myPage
{
    width: 250px;
    height: 400px;
    text-align: center;
    margin-top: 30px;
}

h1
{
    color: black;
    font-size: 24px;
}

h4
{
    color: black;
}

.menu
{
    font-size: 20px;
    margin-top: 30px;
}

.member a:hover{
    border-bottom:3px solid #CC0000;
}

.gameList
{
    margin-top: 10px;
}

.gameList .game
{
    margin-top: 15px;
}

.gameList .game a:hover
{
    border-bottom:3px solid #CC0000;
}

