<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragment/main}">
<head>

  <meta charset="UTF-8">

  <title layout:fragment="title">Title</title>

  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/main.css">
  </th:block>

  <th:block layout:fragment="script"></th:block>

</head>

  <div layout:fragment="main" id="main">
    <div id="contents">
      <ul class="contents-box">

        <li class="game Bombvoid">
          <a href="/game/Bombvoid">
           <img src="/image/Bombvoid.png" alt="게임 Bombvoid의 썸네일">
            <div>Bombvoid</div>
          </a>

        </li>

        <li class="game Remember">
          <a href="/game/remember">
          <img src="/image/BlackJack2.gif" alt="게임 블랙잭의 썸네일">
            <div>Blackjack</div>
          </a>

        </li>

        <li class="game EatAndSurvive">
          <a href="/game/EatAndSurvive">
          <img src="/image/EatAndSurvive.png" alt="게임 EatAndSurvive의 썸네일">
            <div>EatAndSurvive</div>
          </a>

        </li>

        <li class="game Number">
          <a href="game/Number">
          <img src="/image/Number2.gif" alt="게임 넘버의 썸네일">
            <div>Number</div>
          </a>

        </li>

      </ul>
    </div>
  </div>

</html>