<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MiniGames</title>

</head>


<body>

<div id="container">
   <div th:fragment="header" id="header">
       <a class="title" href="">MiniGames</a>
       <div id="nav">
           <ul class="navbar-menu">
            <li><a href="">Bombvoid</a></li>
            <li><a href="">remember</a></li>
            <li><a href="">EatAndSurvive</a></li>
            <li><a href="">Number</a></li>
           </ul>
       </div>
   </div>

    <div th:fragment="main" id="main">
        <div id="contents">
            <ul class="contents-box">
                <li class="">
                    <img src="" alt="">
                    <a href=""></a>
                </li>

                <li class="">
                    <img src="" alt="">
                    <a href=""></a>
                </li>

                <li class="">
                    <img src="" alt="">
                    <a href="">Hit</a>
                </li>

                <li class="">
                    <img src="" alt="">
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </div>

    <div th:fragment="footer" id="footer">

    </div>





</div>


</body>
</html>