#gameWrap{
  width : 1400px;
  display : flex;
  justify-content : space-around;
  margin : 30px auto;
  height : 900px;
  position : relative;
  z-index : 100;
}

#gameInfo{
  background-color : lightgreen;
  width : 18%;
  height: 50%;
  border : none;
  border-radius : 20px;
}

#gameInfo h2{
  text-align : center;
}

#gameInfo .infoBox{
  padding : 10px;
}

#gameInfo .infoBox p{
  padding : 2px 0;
  font-weight : 700;
}

#gameBox{
  background-color : skyblue;
  width : 50%;
  height : 90%;
  border : none;
  border-radius : 20px;
  overflow : hidden;
  position : relative;
}

#gameBox #gameField{
  margin : 0 auto;
  width : 100%;
  height : 100%;
}

#gameBox #gameField .inputBox{
  display : flex;
  justify-content : space-around;
  align-items : center;
  padding : 15px;
}

#gameBox #gameField .inputBox .num{
  width : 80px;
  height : 80px;
  border : 1px solid #aaa;
  border-radius : 20px;
  text-align : center;
  font-size : 30px;
}

#gameBox #gameField .inputBox #answerButton{
  width : 80px;
  height : 80px;
  border : 1px solid #aaa;
  border-radius : 20px;
  text-align : center;
  font-size : 15px;
}

#gameBox #gameField .resultField{
  display : flex;
  justify-content : space-around;
  align-items : center;
  padding : 15px;
}

#gameBox #startBox{
  position : absolute;
  top : 0;
  left : 0;
  z-index : 150;
  background : gray;
  opacity : 0.8;
  width : 100%;
  height : 100%;
}

#gameScore{
  background-color : orange;
  width : 18%;
  height : 50%;
  border : none;
  border-radius : 20px;
}

#gameScore #scoreBox{
  padding : 20px 20px;
}

#gameScore #scoreBox h2{
  text-align : center;
  margin-bottom : 10px;
}

#gameScore #scoreBox span{
  display : inline-block;
  width : 100%;
  height : 50px;
  text-align : center;
  font-size : 25px;
  font-weight : 800;
  border : 3px solid #eee;
  border-radius : 10px;
  color : white;
}

#gameBox #startBox #startBoxButton{
  width : 60%;
  height : 80px;
  text-align : center;
  font-size : 50px;
  border-radius : 10px;
  position : absolute;
  top : 120px;
  left : 20%;
  transform: translateY( -50% );
}

#startButton{
  width : 50%;
  height : 35px;
  text-align : center;
  font-size : 20px;
  border-radius : 10px;
  margin-left : 63px;
  display : none;
}


#gameBox #gameField .resultField .correctNum{
  width : 80px;
  height : 80px;
  border : 1px solid #aaa;
  border-radius : 20px;
  text-align : center;
  font-size : 30px;
  background : blue;
  line-height : 75px;
}

#gameBox #gameField .resultField .nearNum{
  width : 80px;
  height : 80px;
  border : 1px solid #aaa;
  border-radius : 20px;
  text-align : center;
  font-size : 30px;
  background : green;
  line-height : 75px;
}

#gameBox #gameField .resultField .noNum{
  width : 80px;
  height : 80px;
  border : 1px solid #aaa;
  border-radius : 20px;
  text-align : center;
  font-size : 30px;
  background : red;
  line-height : 75px;
}

.emptyBox{
  width : 80px;
  height : 80px;
  text-align : center;
  font-size : 30px;
}